// Place all the styles related to the cash_flows controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.form {
  width: 20%;
  height: 100%;
  margin-right: 5px;
  padding: 15px;
  border-radius: 5px;
  text-align: center;
  margin: 0 auto;
  margin-top: 25px;
  margin-bottom: 70px;
}
